{#
    This template is used to render errors of type HTTP 404 (Not Found)
    This is the simplest way to customize error pages in Symfony applications.
#}

{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block main %}
    <h1 class="text-danger">{{ 'http_error.name'|trans({ '%status_code%': 404 }) }}</h1>
    <p class="lead">
        {{ 'http_error_404.description'|trans }}
    </p>
    <p>
        {{ 'http_error_404.suggestion'|trans({ '%url%': path('product_index') })|raw }}
    </p>
{% endblock %}