{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_product_edit' %}

{% block title %}
         <title>{{ 'title.edit_product'|trans }}</title>
{% endblock %}

{% block main %}
    <h1>{{ 'title.edit_product'|trans({'%id%': product.id}) }}</h1>

    {{ include('admin/product/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
        fileName: product.filename
    }, with_context = false) }}
   
{% endblock %}